%conmanA {
    bottom: 2px;
    right: 10px;
    z-index: 1;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    font-weight: 800;
    font-family: "Gloria Hallelujah", cursive;
    transition: 0.8s;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: rgb(253, 85, 33);
    color: white;
    &:hover {
        background-color: black;
        border: 2px solid white;
        color: white;
        opacity: 0.9;
    }
}

.a {
    @extend %conmanA;
    background-color: rgb(253, 85, 33);
    color: white;
}
.a2 {
    @extend %conmanA;
    background-color: transparent;
    border: 2px solid rgb(253, 85, 33);
    color: white;
}
