.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.secondContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-around;
}
.treedContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
