.sectionServices {
    margin-top: 20px;
    position: relative;
    video {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .hederServices {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        color: rgb(117, 117, 117);
        opacity: 0.8;
        text-align: center;
        .sectionServicesText {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .servicesOur {
                color: white;
                margin: 5px;
                background-color: black;
                border: 3px solid rgb(253, 85, 33);
                border-radius: 5px;
                width: 32%;
                height: 50%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                img {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 80%;
                    height: 50%;
                }
                p {
                    font-size: 20px;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
                    margin: 3px;
                }
            }
        }
    }
}
